.account-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
@media(max-width:768px){
  .account-wrapper{
    margin-top:10vh;
  }
}
.login-button{
  margin: 20px;
}


.list-viewer{
  /* width: 100vw; */
}

.side-menu-list{
  /* width:30%; */
  padding-right: 0px !important;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;


}

body{
  scrollbar-color:#375a7f  #303030 ; /* first vertical then the peice */
  scrollbar-width: auto;


}
/* This is for chrome */
::-webkit-scrollbar{ 
  background-color: #303030;
  width: 15px;
}

::-webkit-scrollbar-track-piece  {
  height: 1px;
  background-color:  #303030 /* alos blue */;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: #375a7f; /* the vertical*/
}


.lesson-viewer{

  width: 100vw;
  height: 50vh;

}
.lesson-editor{

  width: 100vw;
  height: 50vh;

}
.ProseMirror{
  height: 100vh;;
}


.kvOJSo{
  /* background-color: #fff0 !important; */
}
tr{
  border: solid white 0px;
}

/* this is to override a syle that came with the react plugin, which was inline :(  */
.se-wrapper-inner.se-wrapper-wysiwyg.sun-editor-editable {
  height: 100% !important;
}
.sun-editor-editable {
  color: #fff !important;
  background-color: #222 !important;
}

li {
  border: 1px solid;
  padding: 10px;
  list-style: none;
}

div.spinner{
  width: 50em;
  height: 50em;
}